@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: var(--font-sans);
    --font-serif: var(--font-serif);
  }
}

.font-serif {
  font-family: var(--font-serif);
}

.font-sans {
  font-family: var(--font-sans);
}

/* Custom scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fdfcf8;
}

::-webkit-scrollbar-thumb {
  background: #e5e1d8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d1cdc2;
}
